/**
 * Setting page
 */

.fiber-admin button {vertical-align:middle !important;}
.fiber-admin .fiber-admin-input__multiples .fiber-admin-input__label {
    display:inline-block;min-width:10em;vertical-align:middle;
    margin:.35em 0 .75em !important;
}
.fiber-admin .wp-picker-container {margin-bottom:1em;}
.fiber-admin-image-thumbnail {
    display:flex;align-items:center;justify-content:center;
    box-sizing:border-box;
    max-width:200px;min-height:90px;
    padding:10px;border:1px dashed #c3c4c7;
    text-align:center;cursor:pointer;
    transition:border-color .15s ease-in-out,background-color .15s ease-in-out;
}
.fiber-admin-image-thumbnail:hover {border-color:#787c82;background-color:#f6f7f7;}
.fiber-admin-image-thumbnail img {display:block;max-width:100%;height:auto;}
.fiber-admin-remove-wrap {margin-top:5px;}
.fiber-admin textarea {
    width:80%;min-height:300px;
    padding:10px 10px 10px 20px;
}

/**
 * Multiple select
 */

.fiber-admin .fiber-admin-selection--multiple {min-width:300px;}

/**
 * TinyMCE Editor
 */

.fiber-admin .fiber-admin-editor {width:80%;}

/**
 * UI Sortable
 */

.wp-list-table .ui-sortable tr {cursor:grab;}

/**
 * Loading
 */

.fa-loading .ui-sortable {opacity:0.5;}
