.fiber-admin-metabox {
    padding:0.5rem 0;
}

.fiber-admin-metabox:not(:first-child) {
    border-top:1px solid #3a3a3a;
}

.fiber-admin-metabox:not(:first-child) h2 {
    padding:0 !important;
}

.fiber-admin-metabox + .fiber-admin-metabox {
    margin-top:0.5rem;
}

.fiber-admin-metabox h2 {
    padding-left:0 !important;
    font-weight:600 !important;
}

.fiber-admin-preview {
    width:50%;
    margin-bottom:0.5rem;
}

.fiber-admin-preview img {
    max-width:512px;
    width: 100%;
}

.fiad_csm_logo img {
    max-width:512px;
    aspect-ratio:1/1;
}
