/* Import Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Reset CSS */
* {box-sizing:border-box; margin:0; padding:0; border:0; outline:none;}
html, body {min-height:100vh;}
body {font-family:"Roboto", sans-serif; line-height:1.5;}

/* editor */
h1 {font-size:56px; line-height:1; margin-bottom:25px;}
p {margin-bottom:10px;}

.container {
    max-width:100%; min-height:100vh; overflow:hidden;
    position:relative; padding:100px clamp(20px, calc((100vw - 17px - 1280px) / 2), 100vw) 180px;
    display:flex; flex-direction:column; align-items:center; justify-content:center;
}
.site-content__bg-image {position:absolute; inset:0;}
.site-content__bg-image:before {
    content:""; position:absolute; inset:0;
    background:rgba(0, 0, 0, 0.4); z-index:1; pointer-events:none;
}
.site-content__bg-image img {width:100%; height:100%; object-fit:cover; object-position:center;}

.site-content__logo {position:relative; z-index:3; height:60px; margin:0 auto 20px;}
.site-content__logo img {width:auto; height:100%; object-fit:contain; }

.site-content__content {
    position:relative; z-index:3;
    text-align:center; width:100%; color:#fff;
}
.site-content__content a {
    color:#ffe082; text-decoration:none;
    position:relative; padding-bottom:3px;
}
.site-content__content a:hover, .site-content__content a:focus {color:#fff;}